<h3 class="text-center">All Transaction Details</h3>
<div class="col-xl-12 col-lg-12 mb-4 col-md-12 col-sm-12">
    <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>

        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush" id="allOrders">
                <thead class="thead-light">
                    <tr>

                        <th>Customer</th>
                        <th>Date</th>
                        <th>Payment method</th>
                        <th>Total Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>

                        <td>{{this.deliveryDetails.name}}</td>
                        <td>{{this.Date}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.totalAmount}}</td>
                        {{#if this.Cancelled}}
                        <td><span class="badge" style="background-color: red;color: white;">{{this.status}}</span></td>
                        {{else}}
                        <td><span class="badge badge-success">{{this.status}}</span></td>
                        {{/if}}

                        <td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

<script>
    let orderId = document.getElementById('orderID').innerHTML
    let orderID = orderId.slice(0, 5)
    document.getElementById('orderID').innerHTML = orderID

    $(document).ready(function () {
        $('#allOrders').DataTable();
    });
</script>