<section>
    <div class="container">
        <div class="row">
            <div class="cat-offer col-lg-4">
                <h3 style="padding: 10px;">Category Offer</h3>
                <form action="/admin/categoryOffer" method="post">
                    <label>category</label>
                    <select class="form-select" id="category" name="category" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        {{#each categories}}
                        <option value="{{this.category}}">{{this.category}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <label for="startingDate">starting Date</label>
                    <br>
                    <input type="Date" name="startingDate" id="startingDate" placeholder="enter starting Date">

                    <br>
                    <label for="expiry">expiry Date</label>
                    <br>
                    <input type="Date" name="expiry" id="expiry">
                    <br>
                    <label for="">offer Percentage</label>
                    <br>
                    <input type="number" id="offerPercentage" name="offerPercentage" min="1" max="99" placeholder="%">
                    <br>
                    <input type="submit" id="off-submit" value="submit">

                </form>
            </div>
            <div class="offerList col-lg-8">
                <table class="rwd-table" style="width: 100%;">
                    <tr>
                        <th>category</th>
                        <th>starting Date</th>
                        <th>Expiry Date</th>
                        <th>Percentage</th>
                        <th>option</th>
                        
                    </tr>
                    {{#each catOffer}}
                    <tr>
                    <td>{{this.category}}</td>
                    <td>{{this.startingDate}}</td>
                    <td>{{this.expiry}}</td>
                    <td>{{this.offerPercentage}}</td>
                    <td><a href="/admin/deleteCatOffer/{{this._id}}"><span class="material-icons">delete</span></a></td>
                    </tr>
                    {{/each}}

                    
                    

                </table>
            </div>
        </div>
    </div>
</section>