<!-- cOPY-->
<input type="text" value="{{COD}}" id="COD" hidden>
<input type="text" value="{{razorpay}}" id="razorpay" hidden>
<!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <!-- TopBar -->

    <!-- Topbar -->

    <!-- Container Fluid-->
    <div class="container-fluid" id="container-wrapper">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </div>

      <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->

        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">Total Earning)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">₹ {{total}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span>Since last month</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">Orders</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{salesCount}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span>Since last years</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-shopping-cart fa-2x text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">All User</div>
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{userCount}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                    <span>Since last month</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pending Requests Card Example -->

        {{!-- pie chart --}}
        <div class="col-lg-12" style="display: flex;height: 32rem;">
          <div class="col-lg-4" style="position: relative;">
            <h2 style="font-size: 1.5rem;">Payment method Chart</h2>
            <canvas id="pie" width="400" height="500" style="    transform: rotate(-90deg);"></canvas>
            <ul class="pieID legend" style="">
              {{!-- '#6777ef', '#66bb6a', --}}
              <li class="COD">
                <em>COD</em>
                <span>{{COD}}</span>
              </li>
              <li class="razorpay">
                <em>razorpay</em>
                <span>{{razorpay}}</span>
              </li>
            </ul>

          </div>
          
          <div class="col-lg-4 " style="margin-left: 5rem;margin-top: 7rem;">
            <div class="chart-wrap vertical">
              

              <div class="grid">
                <div class="bar" style="--bar-value:{{placed}}rem;" data-name="Placed" title="Placed 10%"></div>
                <div class="bar" style="--bar-value:{{shipped}}rem;" data-name="Shipped" title="Shipped 23%"></div>
                <div class="bar" style="--bar-value:{{delivered}}rem;" data-name="Delivered" title="Delivered 7%"></div>
                <div class="bar" style="--bar-value:{{cancelled}}rem;" data-name="Cancelled" title="Cancelled 38%"></div>

              </div>
            </div>
          </div>
        </div>
        {{!-- bar chart --}}








        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12 mb-4 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">All Orders</h6>
              <a class="m-0  float-right btn btn-danger btn-sm" href="#">View More <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>

                    <th>No.</th>
                    <th>Date</th>
                    <th>User </th>
                    <th>Adress</th>
                    <th>Total Price</th>
                    <th>items</th>
                    <th>Status</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each orders}}
                  <tr>
                    <td>{{@index}}</td>
                    <td>{{this.Date}}</td>
                    <td>{{this.deliveryDetails.name}}</td>
                    <td>{{this.deliveryDetails.adress1}}</td>
                    <td>{{this.totalAmount}}</td>

                    <td><a href="/admin/useOrderedPro/{{this._id}}" class="viewPro btn">View Product</a></td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle p-1" type="button" id="{{this._id}}"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          style="height: 2em;width:7em" value="{{this.status}}" onclick="statusChecker('{{this._id}}')">
                          {{this.status}}
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/admin/placed/{{this._id}}" onclick="changeStatus(event)"
                            style="text-decoration: none;" id="{{this._id}}placed">Placed</a>
                          <a class="dropdown-item" href="/admin/shipped/{{this._id}}" onclick="changeStatus(event)"
                            style="text-decoration: none;" id="{{this._id}}ship">Shipped</a>
                          <a class="dropdown-item" href="/admin/delivered/{{this._id}}" onclick="changeStatus(event)"
                            style="text-decoration: none;" id="{{this._id}}deliver">Delivered</a>
                          <a class="dropdown-item" href="/admin/cancelled/{{this._id}}" onclick="changeStatus(event)"
                            style="text-decoration: none;" id="{{this._id}}cancel">Cancelled</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <!-- Pie Chart -->
      </div>
      <!--Row-->



      <!-- Modal Logout -->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <a href="login.html" class="btn btn-primary">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!---Container Fluid-->
  </div>
  <!-- Footer -->
  <footer class="sticky-footer bg-white">


    <div class="container my-auto py-2">
      <div class="copyright text-center my-auto">
        <span>copyright &copy;
          <script> document.write(new Date().getFullYear()); </script> - distributed by
          <b><a href="https://themewagon.com/" target="_blank">shopiyCart</a></b>
        </span>
      </div>
    </div>
  </footer>
  <!-- Footer -->
</div>
</div>
<!-- 
  <!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script>
  function statusChecker(orderId) {
    console.log("llog", orderId)
    let status = document.getElementById(orderId).value

    console.log('ja', status)
    if (status === 'placed') {
      console.log("Placed")
      document.getElementById(orderId + 'placed').style.display = "none";



    } else if (status === 'Shipped') {
      console.log("Shipped")
      document.getElementById(orderId + 'placed').style.display = "none";
      document.getElementById(orderId + 'ship').style.display = "none";

    } else if (status === 'Delivered') {
      document.getElementById(orderId + 'placed').style.display = "none";
      document.getElementById(orderId + 'ship').style.display = "none";
      document.getElementById(orderId + 'cancel').style.display = "none";
      document.getElementById(orderId + 'deliver').style.display = "none";

    } else if (status === 'Cancelled') {
      document.getElementById(orderId + 'placed').style.display = "none";
      document.getElementById(orderId + 'ship').style.display = "none";
      document.getElementById(orderId + 'deliver').style.display = "none";
      document.getElementById(orderId + 'cancel').style.display = "none";
    }
  }
</script>
<script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown()

  });
</script>
<script>

  var drawPieChart = function (data, colors) {
    var canvas = document.getElementById('pie');
    var ctx = canvas.getContext('2d');
    var x = canvas.width / 2;
    y = canvas.height / 2;
    var color,
      startAngle,
      endAngle,
      total = getTotal(data);

    for (var i = 0; i < data.length; i++) {
      color = colors[i];
      startAngle = calculateStart(data, i, total);
      endAngle = calculateEnd(data, i, total);

      ctx.beginPath();
      ctx.fillStyle = color;
      ctx.moveTo(x, y);
      ctx.arc(x, y, y - 100, startAngle, endAngle);
      ctx.fill();
      ctx.rect(canvas.width - 200, y - i * 30, 12, 12);
      ctx.fill();
      ctx.font = "13px sans-serif";
      ctx.fillText(data[i].label + " - " + data[i].value + " (" + calculatePercent(data[i].value, total) + "%)", canvas.width - 200 + 20, y - i * 30 + 10);
    }
  };

  var calculatePercent = function (value, total) {

    return (value / total * 100).toFixed(2);
  };

  var getTotal = function (data) {
    var sum = 0;
    for (var i = 0; i < data.length; i++) {
      sum += data[i].value;
    }

    return sum;
  };

  var calculateStart = function (data, index, total) {
    if (index === 0) {
      return 0;
    }
    return calculateEnd(data, index - 1, total);
  };

  var calculateEndAngle = function (data, index, total) {
    var angle = data[index].value / total * 360;
    var inc = (index === 0) ? 0 : calculateEndAngle(data, index - 1, total);

    return (angle + inc);
  };

  var calculateEnd = function (data, index, total) {

    return degreeToRadians(calculateEndAngle(data, index, total));
  };

  var degreeToRadians = function (angle) {
    return angle * Math.PI / 180
  }
  let COD = document.getElementById("COD").value
  let cod = parseInt(COD)
  let razorpay = document.getElementById("razorpay").value
  let Razorpay = parseInt(razorpay)
  console.log(cod, Razorpay, "cod,razorpay")

  var data = [
    { value: cod },
    { value: Razorpay },

  ];
  var colors = ['#6777ef', '#66bb6a',];

  drawPieChart(data, colors);



  //bar chart

</script>