<h1 style="margin-left: auto;margin-right: auto;">Product list</h1>




<div class="col-xl-12 col-lg-12 mb-4 col-md-12 col-sm-12">
  <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">All Orders</h6>

    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush" id="productTable">
        <thead class="thead-light">
          <tr>

            <th>image</th>
            <th>Product name</th>

            <th>Catagory</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Options</th>

          </tr>
        </thead>
        <tbody>
          {{#each product}}
          <tr>
            <td data-th="image"><img src="/product-images/{{this._id}}a.jpg" alt="" style="width: 60px; height: auto;">
            </td>
            <td data-th="Product name">{{this.proName}}</td>

            <td data-th="Catagory">{{this.Catagories}}</td>
            <td data-th="brand">{{this.brand}}</td>
            <td data-th="Price">₹{{this.price}}</td>
            <td><a href="/admin/editProduct/{{this._id}}"><span class="material-icons">edit</span></a><a
                onclick="deleteProduct('{{this._id}}')" style="color: red;"><span
                  class="material-icons">delete</span></a>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

<script>
  function deleteProduct(id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "are you sure to delete the product ?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/admin/delete-product/' + id,
          method: 'get',
          success: (response) => {
            if (response.status) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              ).then((resp) => {
                if (resp) {
                  location.reload()
                }
              })
            }
          }
        })
      }
    })
  }

  $(document).ready(function () {
    $('#productTable').DataTable();
  });
</script>