
<h1 style="margin-left: auto;margin-right: auto;">Product list</h1>
<table class="rwd-table" >
  <tr>
    <th>User name</th>
    <th>Second name</th>
    <th>Email</th>
    <th>Number</th>
    <th>Options</th>
  </tr>
  {{#each users}}
  <tr>
    <td data-th="Product name">{{this.fname}}</td>
    <td data-th="Catagory">{{this.sname}}</td>
    <td data-th="brand">{{this.number}}</td>
    <td data-th="Price">{{this.email}}</td>
    <td><a href="/admin/block-user/{{this._id}}" style="color: red;"><input type="btn" class="btn bg-danger" style="color: white;"  value="Block" name="" id=""></span></a></td>
  </tr>
  {{/each}}
</table>
