<h1 class="text-center" style="margin-left: auto;margin-right: auto;padding-left: 1rem">User list</h1>



<div class="col-xl-11 col-lg-10 mb-4 col-md-12 col-sm-12">
  <div class="card">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">All Orders</h6>

    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th>User name</th>
            <th>Second name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td data-th="Product name">{{this.fname}}</td>
            <td data-th="Catagory">{{this.sname}}</td>
            <td data-th="brand">{{this.number}}</td>
            <td data-th="Price">{{this.email}}</td>
            <td><a onclick="blockUser('{{this._id}}')" style="color: red;"><span class="material-icons">block</span></a>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

<script>
  function blockUser(id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "are you sure to block the User ?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/admin/block-user/' + id,
          method: 'get',
          success: (response) => {
            if (response.status) {
              Swal.fire(
                'Blocked!',
              ).then((resp)=>{
                if(resp){
                  location.reload()
                }
              })
            }
          }
        })
      }
    })
  }
</script>