

	<!-- Start Banner Area -->
	{{!-- <section class="banner-area organic-breadcrumb">
		
	</section> --}}
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			
			<div class="col-xl-12 col-lg-8 col-md-7" style="margin-top: 8rem;">
			<div class="heading text-center" style="color: black;"> 
 				<span class="pro">{{brandName}}</span>
			</div>
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center" style="justify-content: center;">
					<h2>{{brandName}}</h2>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						{{#each brandProduct}}
						<div class="col-lg-3 col-md-">
					
					<div class="single-product">

						<a href="/single-product/{{this._id}}"><img class="img-fluid"
								src="/product-images/{{this._id}}a.jpg" alt="image not found" style="height: 19rem;"></a>

						<div class="product-details">
							<div style="height: 4.5rem;">
								<h6 style="color: #777777;">{{this.brand}}</h6>
								<h6 id="proName">{{this.proName}}</h6>
								<div class="price">
									<h6 class="price">₹{{this.price}}</h6>
									<h6 class="l-through" style="font-family: 'Font Awesome 5 Free';color: #878787;">
										₹{{this.landingCost}}</h6>
										{{#if this.offerPercentage}}
										<span class="offerShow">{{this.offerPercentage}}%</span>
										
										{{/if}}
								</div>
							</div>
							<div class="prd-bottom">
								<button type="button" class="btn btn-warning"
									style="margin-bottom: 1.1rem;">BuyNow</button>

								<a href="/add-to-cart/{{this._id}}" class="social-info">
									<span class="ti-bag"></span>

									
									<p class="hover-text">add to bag</p>
								</a>
								<a href="/add-to-wish/{{this._id}}" class="social-info">
									<span class="lnr lnr-heart"></span>
									<p class="hover-text">Wishlist</p>
								</a>


							</div>
						</div>

					</div>
					
				</div>
						{{/each}}
						<!-- single product -->
						
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>BIGGEST DEALS ON TOP BRAND..</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{{#each topOffer}}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/product-images/{{this._id}}a.jpg" width="60px" alt=""></a>
								<div class="desc">
									<a href="#" class="title">{{this.proName}}</a>
									<div class="price">
										<h6>₹{{this.price}}.00</h6>
										<h6 class="l-through">₹{{this.actualPrice}}.00</h6>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="/images/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>