
<!--================Checkout Area =================-->
<section class="checkout_area section_gap" style="margin-top: 5rem;">
    <div class="container">
      
        <div class="cupon_area">
            <div class="check_title mb-3">
                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
            </div>
            <input type="text" id="couponInput" placeholder="Enter coupon code" style="margin-left: 0rem;"
                class="col-12w">

            <input type="text" id="couponTotal" name="Total" value="{{AllTotal}}" hidden>
            <a class="couponButton btn tp_btn" id="couponBtn" onclick="couponApply()">Apply Coupon</a>
            {{!-- Error handling of coupons --}}
            <div class="mt-2">
                <div class="alert alert-danger" style="display: none;" id="couponUsed" role="alert">
                    This Coupon was redeemed
                </div>
                <div class="alert alert-danger" style="display: none;" id="couponInvalid" role="alert">
                    This Coupon is
                    invalid
                </div>
                <div class="alert alert-success" style="display: none;" id="couponSuccess" role="alert">
                    Coupon Applied
                    Successfully
                </div>
                <div class="alert alert-warning" style="display: none;" id="couponExpired" role="alert">
                    Sorry!!! Your
                    Coupon has been Expired
                </div>
            </div>
        </div>
        <div>
            <div class="check_title mb-3">
                <h2>Adress </h2>
            </div>
            <div class="adress_card col-lg-12">
                {{#each adress}}
                <div class="eachAdress_checkout col-lg-4 col-sm-12 col-md-6">
                    <h6>{{this.name}} -{{this.mobileNumber}}</h6>
                    <p>{{this.adress}},{{this.district}} District</p>
                    <span>{{this.pincode}}</span>

                    <a onclick="fillOne('{{this.name}}','{{this.mobileNumber}}','{{this.email}}','{{this.district}}','{{this.pincode}}','{{this.Locality}}',`{{this.adress}}`)"
                        class="AutoFill btn">Choose</a>
                </div>
                {{/each}}

            </div>
        </div>

        <div class="col-md-12 container bg-default">

            <h4 class="my-4">
                Billing Address
            </h4>

            <form action="" id="checkout-form">
                <div class="row" style="display: flex;">
                    <div class="col-lg-8 col-12">
                        <div class="form-group">
                            <label for="email">Your name</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter your  name"
                                name="name" required>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-12 form-group">
                                <label for="firstname">Mobile Number</label>
                                <input type="number" class="form-control" id="mobileNumber" name="mobileNumber"
                                    placeholder="Enter mobile number" name="mobileNumber" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="lastname">Email adress</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="you@example.com" name="email" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email">Company name (optional)</label>
                            <input type="text" class="form-control" id="companyName" name="companyName"
                                placeholder="Enter your company name">
                        </div>

                        <div class="form-group  col-md-12" style="margin-left: -12px;">
                            <label for="adress">Address 1</label>
                            <input type="text" class="form-control" id="adress" name="adress1"
                                placeholder="1234 Main Street" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address2">Address 2
                                <span class="text-muted">(Optional)</span>
                            </label>
                            <input type="text" class="form-control" id="adress2" name="adress2" placeholder="adress 2">
                        </div>
                        <input type="text" id="quantity" name="quantity" value="{{quantity}}" hidden>

                        {{!-- <div class="col-md-12 form-group mb-5" style="    margin-left: -1rem;}">
                            <label for="city">District</label>
                            <select type="text" id="District" spellcheck="true" class="form-control">
                                <option id="District" value="" selected>Choose...</option>
                                <option value="malapuram">Malappuram</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div> --}}

                        <div class="form-group">
                            <label for="address2">Town / City
                                <span class="text-muted"></span>
                            </label>
                            <input type="text" class="form-control" id="town" name="town" placeholder="Town / city">
                        </div>
                        <div class="form-group">
                            <label for="address2">Pincode
                                <span class="text-muted"></span>
                            </label>
                            <input type="text" class="form-control" name="userpincode" id="userpincode"
                                placeholder="Post code">
                        </div>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>





                        <hr>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="shipping-adress">
                            Shipping address is the same as my billing address
                            <label for="shipping-adress" class="form-check-label"></label>
                        </div>



                        <hr>








                        <hr class="mb-4">


                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <span>products</span>
                                {{#each products}}

                                <li><a href="#" style="color: black;">⚫{{this.product.proName}} </a></li>
                                {{/each}}


                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>₹2160.00</span></a></li>

                                <li><a href="#">Total <span>₹{{AllTotal}}.00</span></a></li>
                            </ul>

                            <h2 class="mb-4 mt-4">Payment</h2>
                            <div class="payment_form-check">
                                <div class="payment_method_check">
                                    <input type="radio" class="form-check-input" id="credit" name="payment-method"
                                        value="Razorpay" required>
                                    <label for="credit" class="form-check-label">Razorpay</label>
                                </div>
                            </div>
                            <div class="payment_form-check">
                                <div class="payment_method_check">
                                    <input type="radio" class="form-check-input" id="paypal" name="payment-method"
                                        value="COD" required>
                                    <label for="paypal" class="form-check-label">Cash on Delivery</label>

                                </div>

                            </div>
                            <button id="checkout_btn" class="btn  bt-lg btn-block" type="submit"
                                style="background: #ffa426;color: white;">Continue to Checkout</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        </form>
    </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<!-- start footer Area -->

<!-- End footer Area -->

<script>
    function couponApply() {
        let couponCode = document.getElementById('couponInput').value
        let couponTotal = document.getElementById('couponTotal').value

        $.ajax({
            url: '/couponApply',
            data: {
                Coupon: couponCode,
                Total: couponTotal
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                if (response.couponSuccess) {
                    let oldTotal = parseInt(document.getElementById('totalOriginal').innerHTML)
                    let discount = oldTotal - parseInt(response.total)
                    document.getElementById('couponInput').readOnly = true
                    document.getElementById('discount').value = discount
                    document.getElementById('code').value = couponCode
                    $('#discount').show()
                    $('#discountLabel').show()
                    $('#discounttd').show()
                    $('#newTotal').show()
                    $('#tdTotal').show()
                    $('#totalOriginal').show()

                    document.getElementById('totalOriginal').innerHTML = response.total
                    $('#couponSuccess').show()
                    $('#couponUsed').hide()
                    $('#couponInvalid').hide()
                    $('#couponExpired').hide()
                }

                if (response.couponUsed) {
                    $('#couponUsed').show()
                    $('#couponSuccess').hide()
                    $('#couponInvalid').hide()
                    $('#couponExpired').hide()
                    $('#discount').hide()
                    $('#discountLabel').hide()
                }
                if (response.invalidCoupon) {
                    $('#couponInvalid').show()
                    $('#couponSuccess').hide()
                    $('#couponUsed').hide()
                    $('#couponExpired').hide()
                    $('#discount').hide()
                    $('#discountLabel').hide()
                }
                if (response.couponExpired) {
                    $('#couponExpired').show()
                    $('#couponSuccess').hide()
                    $('#couponInvalid').hide()
                    $('#couponUsed').hide()
                    $('#discount').hide()
                    $('#discountLabel').hide()
                }
            }
        })
    }
    function fillOne(name, mobileNumber, email, district, pincode, Locality, adress) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })
        Toast.fire({
            icon: 'success',
            title: 'adress auto-filled'
        })
        document.getElementById('fname').value = name;
        document.getElementById('mobileNumber').value = mobileNumber
        document.getElementById('email').value = email
        document.getElementById('adress').value = adress
        document.getElementById('town').value = Locality
        document.getElementById('userpincode').value = pincode;

    }
</script>