<div class="container" style="margin-top: 9rem;">
    <div class="heading text-center" style="color: black;">
        <div class="filter-bar text-center d-flex flex-wrap align-items-center ">
            <span class="pro">Ordered Product</span>
        </div>
    </div>
    <section class="lattest-product-area pb-40 category-list">
        <div class="row">
            <!-- single product -->
            {{#each products}}
            <div class="col-lg-3 col-md-6">

                <div class="single-product">
                    <a href="/single-product/{{this.product._id}}"><img class="img-fluid"
                            src="/product-images/{{this.product._id}}a.jpg" alt="image not found"
                            style="height: 19rem;"></a>

                    <div class="product-details">
                        <div style="height: 4.5rem;">
                            <h6 style="color: #777777;">{{this.product.brand}}</h6>
                            <h6 id="proName">{{this.product.proName}}</h6>
                            <div class="price">
                                <h6 class="price">₹{{this.product.price}}</h6>
                                <h6 class="l-through" style="font-family: 'Font Awesome 5 Free';color: #878787;">
                                    ₹{{this.product.landingCost}}</h6>
                                {{#if this.product.offerPercentage}}
                                <span class="offerShow">{{this.product.offerPercentage}}%</span>
                                {{/if}}

                            </div>
                        </div>
                        {{!-- <div class="prd-bottom">
                            <a href="/buyNow/{{this._id}}"><button type="button" class="btn btn-warning"
                                    style="margin-bottom: 1.1rem;">BuyNow</button></a>

                            <a href="/add-to-cart/{{this._id}}" class="social-info">
                                <span class="ti-bag"></span>

                                <button class="ti-bag" onclick="addToCart('{{this._id}}')"></button>
                                <p class="hover-text">add to bag</p>
                            </a>
                            <a href="/add-to-wish/{{this._id}}" class="social-info">
                                <span class="lnr lnr-heart"></span>
                                <p class="hover-text">Wishlist</p>
                            </a>


                        </div> --}}
                    </div>

                </div>

            </div>
            {{/each}}
            <!-- single product -->

        </div>
    </section>
</div>