<!--================Single Product Area =================-->
<div class="product_image_area " style="margin-top: 2rem;">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">
					<div class="single-prd-item">
						<img class="img-fluid" src="/product-images/{{product._id}}a.jpg" alt="">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="/product-images/{{product._id}}b.jpg" alt="">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="/product-images/{{product._id}}c.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3 id="brandshow">{{product.brand}}</h3>
					<h3>{{product.proName}}</h3>
					{{#if product.offerPercentage}}
					<span class="specialPrice">Special Price</span>
					{{/if}}
					<div style="display: flex;">
						<h2 style="font-family: Roboto,Arial,sans-serif;" class="mr-3">₹{{product.price}}</h2>
						<span class="offerPrice">{{product.landingCost}}</span>
						{{#if product.offerPercentage}}
						<span class="offerPer">{{product.offerPercentage}}% off</span>
						{{/if}}
					</div>
					<ul class="list">
						<li><a class="active" href="#"><span>Catagories</span> : {{product.Catagories}}</a></li>
						<li><a href="#"><span>Availibility</span> : In Stock</a></li>
					</ul>
					<p>Augments the pinnacle cushioning experience of Fresh Foam with a supportive medial post to
						provide essential stability. Built for reliability over the long haul and sustained comfort over
						all distances,</p>
					<div class="product_count">
						<label for="qty">Quantity:</label>
						<input type="text" name="quantity" id="quantity" maxlength="12" value="1" title="Quantity:"
							class="input-text qty" style="width: 51%;">
						<button style="margin-top: 40px;margin-right: 8rem;"
							onclick="var result = document.getElementById('quantity'); var quantity = result.value; if( !isNaN( quantity )) result.value++;return false;"
							class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
						<button style="margin-bottom: 9px;margin-right: 8rem;"
							onclick="var result = document.getElementById('quantity'); var quantity = result.value; if( !isNaN( quantity ) &amp;&amp; quantity > 0 ) result.value--;return false;"
							class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
					</div>
					<input type="text" name="proId" id="proId" value="{{product._id}}" hidden>
					<div class="card_area d-flex align-items-center">
						<a class="primary-btn" href="/buyNow/{{product._id}}">BuyNow</a>
						{{!-- <a class="primary-btn" onclick="buyNow('{{product._id}}')">BuyNow</a> --}}
						<a class="icon_btn" href="/add-to-bCart/{{product._id}}"><i class="ti-bag"></i></a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">

			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">Specification</a>
			</li>


		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of
					all shapes
					and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left Kendrick
					School in
					Reading at the age of 15, where she went to secretarial school and then into an insurance office.
					After moving to
					London and then Hampton, she eventually married her next door neighbour from Reading, John Cook. He
					was an
					officer in the Merchant Navy and after he left the sea in 1956, they bought a pub for a year before
					John took a
					job in Southern Rhodesia with a motor company. Beryl bought their young son a box of watercolours,
					and when
					showing him how to use it, she decided that she herself quite enjoyed painting. John subsequently
					bought her a
					child’s painting set for her birthday and it was with this that she produced her first significant
					work, a
					half-length portrait of a dark-skinned lady with a vacant expression and large drooping breasts. It
					was aptly
					named ‘Hangover’ by Beryl’s husband and</p>
				<p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are
					seeing
					more and more recipe books and Internet websites that are dedicated to the act of cooking for one.
					Divorce and
					the death of spouses or grown children leaving for college are all reasons that someone accustomed
					to cooking for
					more than one would suddenly need to learn how to adjust all the cooking practices utilized before
					into a
					streamlined plan of cooking that is more efficient for one person creating less</p>
			</div>
			<div id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<h5>Width</h5>
								</td>
								<td>
									<h5>128mm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Height</h5>
								</td>
								<td>
									<h5>508mm</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>size</h5>
								</td>
								<td>
									<h5>{{product.size}}</h5>
								</td>
							</tr>

							<tr>
								<td>
									<h5>Quality checking</h5>
								</td>
								<td>
									<h5>yes</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>Freshness Duration</h5>
								</td>
								<td>
									<h5>03days</h5>
								</td>
							</tr>
							<tr>
								<td>
									<h5>When packeting</h5>
								</td>
								<td>
									<h5>Without touch of hand</h5>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>


		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom" style="background: #ffffff;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Deals of the Week</h1>
					<p>BIGGEST DEALS ON TOP BRAND.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					{{#each topOffer}}
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a href="#"><img src="/product-images/{{this._id}}a.jpg" alt="" style="width: 4rem;"></a>
							<div class="desc">
								<a href="#" class="title">{{this.proName}}</a>
								<div class="price">
									<h6>${{this.price}}.00</h6>
									<h6 class="l-through">${{this.landingCost}}.00</h6>
									<h6 style="color: #26a541;">{{this.offerPercentage}}%</h6>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ctg-right">
					<a href="#" target="_blank">
						<img class="img-fluid d-block mx-auto" src="/images/category/c5.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End related-product Area -->
<script>
	function buyNow(proId) {
		console.log('enter the function')
		let quantity = document.getElementById('quantity').innerHTML
		let proID = proId
		console.log("this")
		console.log(quantity, proId, 'this ya')

		$.ajax({
			url: '/buyNow',
			data: {
				proId: proId,
				quantity: quantity
			},
			method: 'post',
			success: (response) => {
				if (response.status) {
					location.href = '/checkoutt'
				}
			}
		})
	}
</script>
<script>
	$(document).ready(function () {
		$('#pro-image').mouseenter(function () {
			$(this).change({
				"background": 'red'
			})
		})
	})
</script>