
<section style="margin-top: 12rem;margin-bottom: 6rem;">

    <div class="container">
        <div class="text-center">
            <h4 class="coupon">Coupons</h4>
        </div>


        <div class="row">
            <table class="wishListTable mb-5 text-center">
                

                <thead>
                    <tr>
                        <th scope="col">Coupon</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Starting Date</th>
                        <th scope="col">Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each coupons}}
                    <tr>

                        <td data-label="product name">{{this.Coupon}}</td>
                        <td data-label="Due Date">{{this.offer}}%</td>
                        <td data-label="Amount">{{this.starting}}</td>
                        <td data-label="Period">{{this.expiry}}</td>
                    </tr>
                    {{/each}}

                    {{#if coupon}}
                   

                    {{else}}
                     <h1 class="couponNotFound">You have No any coupons !</h1>

                    {{/if}}


                </tbody>
            </table>


        
    </div>
    </div>
</section>