{{!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Wish List</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Account<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">WishList</a>
                </nav>
            </div>
        </div>
    </div>
</section> --}}
<section>

    <div class="container" style="margin-top: 10rem;">
            <h3 class="wishList-mainHeader text-center mb-5 mt-3">Wish List</h3>
            <table class="wishListTable mb-5">

                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td data-label="Product Image"><a href="/single-product/{{this._id}}"><img src="/product-images/{{this.product._id}}a.jpg" alt=""
                                style="width: 60px; height: auto;"></a><br></br></td>
                        <td data-label="product name">{{this.product.proName}}</td>
                        <td data-label="Due Date">{{this.product.brand}}</td>
                        <td data-label="Amount">${{this.product.price}}</td>
                        <td data-label="Period"><button class="btn btn-danger"
                            onclick="deleteWishPro('{{this._id}}','{{this.product._id}}')">Delete</button> </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            {{!--
        </div>
    </div> --}}
</section>

<script>
    function deleteWishPro(wishId, proId) {
        $.ajax({
            url: '/delete-wishlist-product',
            data: {
                wishlist: wishId,
                product: proId
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {

                } else {
                    alert("product has removed")
                }
            }

        })
        location.reload()
    }
</script>